/* line 1, ../scss/section/burger.scss */
.burger {
  background: url(../img/bg/burger-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  min-width: 940px;
}

/* line 11, ../scss/section/burger.scss */
.burger__header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 17, ../scss/section/burger.scss */
.burger__content {
  display: flex;
  justify-content: space-around;
}

/* line 22, ../scss/section/burger.scss */
.burger__image {
  flex: 1;
  padding-right: 20px;
}

/* line 27, ../scss/section/burger.scss */
.burger__text {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* line 34, ../scss/section/burger.scss */
.burger__description {
  font-size: 65px;
  font-family: lifehackmedium;
  color: #ffffff;
  font-weight: 100;
  line-height: 60px;
}

/* line 42, ../scss/section/burger.scss */
.burger__arrow {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

/* line 48, ../scss/section/burger.scss */
.burger__arrow-link {
  background: url(../img/pic/arrow-scroll.png);
  width: 29px;
  height: 14px;
}

/* line 54, ../scss/section/burger.scss */
.burger__logo {
  width: 92px;
  height: 69px;
}

/* line 1, ../scss/section/nav.scss */
.nav {
  display: flex;
  align-items: center;
}

/* line 6, ../scss/section/nav.scss */
.nav__order {
  font-size: 13px;
  font-family: ubuntumedium;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #e45028;
  padding: 12px 16px;
  border-radius: 4px;
  max-height: 24%;
  margin-left: 15px;
}

/* line 19, ../scss/section/nav.scss */
.nav__item {
  display: inline-block;
  position: relative;
}
/* line 23, ../scss/section/nav.scss */
.nav__item:after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 40%;
  margin-left: 15px;
}
/* line 34, ../scss/section/nav.scss */
.nav__item:last-child:after {
  content: '';
  width: 0;
  height: 0;
}

/* line 41, ../scss/section/nav.scss */
.nav-list {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
}

/* line 50, ../scss/section/nav.scss */
.nav__link {
  font-size: 13px;
  font-family: ubuntumedium;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

/* line 1, ../scss/section/review.scss */
.reviews {
  height: 100vh;
  min-height: 650px;
}

/* line 6, ../scss/section/review.scss */
.reviews-list {
  list-style: none;
  height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* line 18, ../scss/section/review.scss */
.reviews__item {
  background: no-repeat center/cover;
  flex: 1 0 25%;
  position: relative;
}

/* line 24, ../scss/section/review.scss */
.reviews__description {
  position: absolute;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(20, 20, 20, 0.7);
  box-sizing: border-box;
  transition: all;
  padding: 10px;
}

/* line 36, ../scss/section/review.scss */
.reviews__item:hover .reviews__description {
  opacity: 1;
  visibility: visible;
}

/* line 41, ../scss/section/review.scss */
.section__name {
  font-family: gagalinregular;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 15%;
  margin-bottom: 15px;
}

/* line 50, ../scss/section/review.scss */
.reviews__text {
  font-family: ubuntulight;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 15px;
}

/* line 59, ../scss/section/review.scss */
.reviews__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: ubuntumedium;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2f3234;
  padding: 13px 28px;
}

/* line 71, ../scss/section/review.scss */
.reviews__link:hover {
  background-color: #1f2122;
}

/* line 1, ../scss/section/pagination.scss */
.pagination {
  list-style: none;
  position: fixed;
  top: 89px;
  right: 85px;
  margin: 0;
  padding: 0;
}

/* line 10, ../scss/section/pagination.scss */
.pagination__link:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -5.3px;
  left: -5.5px;
  border: 1px solid transparent;
}

/* line 22, ../scss/section/pagination.scss */
.pagination__link:hover:before, .pagination__link_active:before {
  border-color: #fff;
}

/* line 26, ../scss/section/pagination.scss */
.pagination__link {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

/* line 1, ../scss/section/best.scss */
.best {
  background: url(../img/bg/best-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  min-width: 940px;
}

/* line 11, ../scss/section/best.scss */
.best__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
}

/* line 18, ../scss/section/best.scss */
.best-list {
  list-style: none;
  display: flex;
  align-items: baseline;
}

/* line 24, ../scss/section/best.scss */
.best__item {
  flex: 1 0 300px;
  text-align: center;
}

/* line 29, ../scss/section/best.scss */
.best__title {
  color: #2f3234;
}

/* line 33, ../scss/section/best.scss */
.best__subtitle {
  font-family: lifehackmedium;
  font-size: 24.1px;
  color: #2f3234;
  margin-top: 20px;
  margin-bottom: 29px;
}

/* line 41, ../scss/section/best.scss */
.best__description {
  font-family: ubuntulight;
  font-size: 14px;
  line-height: 1.7em;
  color: #2f3234;
  text-align: center;
}

/* line 1, ../scss/section/team.scss */
.team {
  background: url(../img/bg/team-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  position: relative;
}

/* line 13, ../scss/section/team.scss */
.team__content {
  width: 540px;
  background-color: rgba(47, 50, 52, 0.93);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 25, ../scss/section/team.scss */
.team-title {
  margin-top: 75px;
}

/* line 30, ../scss/section/team.scss */
.team-item_active .team__trigger {
  color: #f9b43b;
}
/* line 34, ../scss/section/team.scss */
.team-item_active .team-member {
  height: 100%;
  overflow: visible;
}
/* line 39, ../scss/section/team.scss */
.team-item_active .team__trigger:before {
  transform: rotate(-180deg);
}

/* line 45, ../scss/section/team.scss */
.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 51, ../scss/section/team.scss */
.team__trigger {
  text-decoration: none;
  display: flex;
  padding: 0;
  position: relative;
}
/* line 57, ../scss/section/team.scss */
.team__trigger:before {
  content: "";
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #f9b43b;
  border-bottom-width: 0px;
  position: absolute;
  top: 4px;
  left: -21px;
}

/* line 70, ../scss/section/team.scss */
.team-member {
  display: flex;
  height: 0;
  overflow: hidden;
}

/* line 76, ../scss/section/team.scss */
.team-member__photo {
  overflow: hidden;
  max-width: 100px;
  flex: 1 1 30%;
  margin-right: 15px;
}

/* line 83, ../scss/section/team.scss */
.team-member__photo-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* line 89, ../scss/section/team.scss */
.team-member__data {
  flex: 1 1 70%;
}

/* line 94, ../scss/section/team.scss */
.team-member__position span {
  font-family: ubuntubold;
  font-size: 14px;
  color: #fff;
}

/* line 102, ../scss/section/team.scss */
.team-member__description p {
  font-family: ubuntulight;
  font-size: 14px;
  color: #fff;
  max-width: 230px;
  line-height: 1.71em;
}

/* line 1, ../scss/section/menu.scss */
.menu {
  background: url(../img/bg/menu-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
}

/* line 8, ../scss/section/menu.scss */
.menu__content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

/* line 15, ../scss/section/menu.scss */
.menu__title {
  top: 115px;
  left: 95px;
  position: absolute;
}

/* line 21, ../scss/section/menu.scss */
.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 32, ../scss/section/menu.scss */
.menu__item {
  display: flex;
}

/* line 36, ../scss/section/menu.scss */
.menu__link {
  position: relative;
  display: flex;
  font-family: Gagalin;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
/* line 45, ../scss/section/menu.scss */
.menu__link span {
  white-space: nowrap;
  position: absolute;
  bottom: -32px;
  transform: rotate(-90deg);
  transform-origin: top left;
}

/* line 54, ../scss/section/menu.scss */
.menu__text {
  box-sizing: border-box;
  width: 0;
  padding: 0;
  background: rgba(47, 50, 52, 0.93);
  overflow: hidden;
}
/* line 61, ../scss/section/menu.scss */
.menu__text p {
  font-family: ubuntulight;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.71em;
  overflow: hidden;
}

/* line 70, ../scss/section/menu.scss */
.menu__item_active .menu__text {
  width: 545px;
  padding: 35px;
  overflow: visible;
}

/* line 1, ../scss/section/map.scss */
.map {
  background: url(../img/bg/map-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  position: relative;
}

/* line 1, ../scss/section/footer.scss */
.footer {
  background: url(../img/bg/footer-bg.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 10, ../scss/section/footer.scss */
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  margin: 0 70px;
}

/* line 18, ../scss/section/footer.scss */
.footer__contacts {
  display: flex;
  flex-direction: column;
}

/* line 23, ../scss/section/footer.scss */
.footer__address {
  font-family: ubuntulight;
  font-size: 14px;
  color: #ffffff;
  display: block;
  margin-bottom: 8px;
}

/* line 31, ../scss/section/footer.scss */
.footer__tel {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: ubuntubold;
  color: #e45028;
  background: url(../img/pic/phone.png) left center no-repeat;
}
/* line 39, ../scss/section/footer.scss */
.footer__tel span {
  margin-left: 19px;
}

/* line 44, ../scss/section/footer.scss */
.footer__socials {
  display: inline-block;
  text-align: right;
}

/* line 49, ../scss/section/footer.scss */
.footer__socials-link {
  margin-right: 20px;
  text-decoration: none;
}

/* line 54, ../scss/section/footer.scss */
.footer__socials-icon {
  opacity: .3;
}
/* line 57, ../scss/section/footer.scss */
.footer__socials-icon:hover {
  opacity: 1;
}

/* line 1, ../scss/section/order.scss */
.order {
  background: url(../img/bg/order-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  display: flex;
  justify-content: center;
}

/* line 11, ../scss/section/order.scss */
.order__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 17, ../scss/section/order.scss */
.order-title {
  margin: 70px 0;
}

/* line 21, ../scss/section/order.scss */
.order__form {
  display: flex;
}

/* line 1, ../scss/section/form.scss */
.form__block-title {
  font-family: ubuntulight;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 13px;
}

/* line 9, ../scss/section/form.scss */
.form__row {
  display: flex;
}

/* line 13, ../scss/section/form.scss */
.form__block {
  flex: 1;
  margin-right: 20px;
}

/* line 18, ../scss/section/form.scss */
.form_block_type_input {
  position: relative;
  display: flex;
}

/* line 23, ../scss/section/form.scss */
.form__block-title_type_radio {
  display: inline-block;
  width: 146px;
  margin-left: -12px;
}

/* line 29, ../scss/section/form.scss */
.form__block-title_type_radio:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 8px;
}

/* line 40, ../scss/section/form.scss */
.form__block-title_type_radio:after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e35028;
  opacity: 0;
  position: absolute;
  top: 18px;
  left: 5px;
}

/* line 53, ../scss/section/form.scss */
input[type="radio"] {
  opacity: 0;
}

/* line 57, ../scss/section/form.scss */
input[type="radio"]:checked + .form__block-title_type_radio:after {
  opacity: 1;
}

/* line 61, ../scss/section/form.scss */
input[type="checkbox"] {
  opacity: 0;
}

/* line 65, ../scss/section/form.scss */
input[type="checkbox"]:checked + .form__block-title_type_checkbox:after {
  width: 11px;
  height: 9px;
}

/* line 70, ../scss/section/form.scss */
.form__block-title_type_checkbox {
  margin-left: -12px;
}

/* line 74, ../scss/section/form.scss */
.form__block-title_type_checkbox:before {
  content: '';
  background: #ffffff;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: bottom;
}

/* line 84, ../scss/section/form.scss */
.form__block-title_type_checkbox:after {
  content: '';
  background: url(../img/pic/checked.png) no-repeat;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 17px;
  left: 3px;
}

/* line 95, ../scss/section/form.scss */
.form__input {
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 5px;
}

/* line 102, ../scss/section/form.scss */
.form__column {
  width: 50%;
}

/* line 106, ../scss/section/form.scss */
.form__textarea {
  height: 81px;
  width: 100%;
  resize: none;
  border-radius: 4px;
  border: none;
  padding: 5px;
}

/* line 115, ../scss/section/form.scss */
.form__button {
  margin-top: 12px;
  font-size: 13px;
  font-family: ubuntumedium;
  color: #ffffff;
  text-transform: uppercase;
  background: #e45028;
  padding: 12px 16px;
  border-radius: 4px;
  border: 0px;
}

/* line 127, ../scss/section/form.scss */
.form__button_reset {
  margin-top: 12px;
  font-size: 14px;
  font-family: ubuntulight;
  color: #ffffff;
  text-transform: capitalize;
  padding: 12px 16px;
  border: 0px;
  background-color: transparent;
}

/* line 138, ../scss/section/form.scss */
.form__block_flex_off {
  flex: 0;
}

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/layout/section.scss */
.section-title {
  font-size: 72px;
  font-family: gagalinregular;
  font-weight: 100;
  margin-bottom: 35px;
}
/* line 7, ../scss/layout/section.scss */
.section-title_color_yellow {
  color: #f9b43b;
}
/* line 11, ../scss/layout/section.scss */
.section-title_color_black {
  color: #2f3234;
}
/* line 15, ../scss/layout/section.scss */
.section-title_color_white {
  color: #ffffff;
}

/* line 20, ../scss/layout/section.scss */
.section__name {
  font-family: gagalinregular;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 15, ../scss/main.scss */
h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 19, ../scss/main.scss */
.container {
  width: 940px;
}
