/* line 1, ../scss/section/burger.scss */
.burger {
  background: url(../img/bg/burger-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  min-width: 940px;
}

/* line 11, ../scss/section/burger.scss */
.burger__header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 17, ../scss/section/burger.scss */
.burger__content {
  display: flex;
  justify-content: space-around;
}

/* line 22, ../scss/section/burger.scss */
.burger__image {
  flex: 1;
  padding-right: 20px;
}

/* line 27, ../scss/section/burger.scss */
.burger__text {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* line 34, ../scss/section/burger.scss */
.burger__description {
  font-size: 65px;
  font-family: lifehackmedium;
  color: #ffffff;
  font-weight: 100;
  line-height: 60px;
}

/* line 42, ../scss/section/burger.scss */
.burger__arrow {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

/* line 48, ../scss/section/burger.scss */
.burger__arrow-link {
  background: url(../img/pic/arrow-scroll.png);
  width: 29px;
  height: 14px;
}

/* line 54, ../scss/section/burger.scss */
.burger__logo {
  width: 92px;
  height: 69px;
}

/* line 1, ../scss/section/nav.scss */
.nav {
  display: flex;
  align-items: center;
}

/* line 6, ../scss/section/nav.scss */
.nav__order {
  font-size: 13px;
  font-family: ubuntumedium;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #e45028;
  padding: 12px 16px;
  border-radius: 4px;
  max-height: 24%;
  margin-left: 15px;
}

/* line 19, ../scss/section/nav.scss */
.nav__item {
  display: inline-block;
  position: relative;
}
/* line 23, ../scss/section/nav.scss */
.nav__item:after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 40%;
  margin-left: 15px;
}
/* line 34, ../scss/section/nav.scss */
.nav__item:last-child:after {
  content: '';
  width: 0;
  height: 0;
}

/* line 41, ../scss/section/nav.scss */
.nav-list {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
}

/* line 50, ../scss/section/nav.scss */
.nav__link {
  font-size: 13px;
  font-family: ubuntumedium;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

/* line 1, ../scss/section/review.scss */
.reviews {
  height: 100vh;
  min-height: 650px;
}

/* line 6, ../scss/section/review.scss */
.reviews-list {
  list-style: none;
  height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* line 18, ../scss/section/review.scss */
.reviews__item {
  background: no-repeat center/cover;
  flex: 1 0 25%;
  position: relative;
}

/* line 24, ../scss/section/review.scss */
.reviews__description {
  position: absolute;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(20, 20, 20, 0.7);
  box-sizing: border-box;
  transition: all;
  padding: 10px;
}

/* line 36, ../scss/section/review.scss */
.reviews__item:hover .reviews__description {
  opacity: 1;
  visibility: visible;
}

/* line 41, ../scss/section/review.scss */
.section__name {
  font-family: gagalinregular;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 15%;
  margin-bottom: 15px;
}

/* line 50, ../scss/section/review.scss */
.reviews__text {
  font-family: ubuntulight;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 15px;
}

/* line 59, ../scss/section/review.scss */
.reviews__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: ubuntumedium;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2f3234;
  padding: 13px 28px;
}

/* line 71, ../scss/section/review.scss */
.reviews__link:hover {
  background-color: #1f2122;
}

/* line 1, ../scss/section/pagination.scss */
.pagination {
  list-style: none;
  position: fixed;
  top: 89px;
  right: 85px;
  margin: 0;
  padding: 0;
}

/* line 10, ../scss/section/pagination.scss */
.pagination__link:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -5.3px;
  left: -5.5px;
  border: 1px solid transparent;
}

/* line 22, ../scss/section/pagination.scss */
.pagination__link:hover:before, .pagination__link_active:before {
  border-color: #fff;
}

/* line 26, ../scss/section/pagination.scss */
.pagination__link {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

/* line 1, ../scss/section/best.scss */
.best {
  background: url(../img/bg/best-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  min-width: 940px;
}

/* line 11, ../scss/section/best.scss */
.best__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
}

/* line 18, ../scss/section/best.scss */
.best-list {
  list-style: none;
  display: flex;
  align-items: baseline;
}

/* line 24, ../scss/section/best.scss */
.best__item {
  flex: 1 0 300px;
  text-align: center;
}

/* line 29, ../scss/section/best.scss */
.best__title {
  color: #2f3234;
}

/* line 33, ../scss/section/best.scss */
.best__subtitle {
  font-family: lifehackmedium;
  font-size: 24.1px;
  color: #2f3234;
  margin-top: 20px;
  margin-bottom: 29px;
}

/* line 41, ../scss/section/best.scss */
.best__description {
  font-family: ubuntulight;
  font-size: 14px;
  line-height: 1.7em;
  color: #2f3234;
  text-align: center;
}

/* line 1, ../scss/section/team.scss */
.team {
  background: url(../img/bg/team-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  position: relative;
}

/* line 13, ../scss/section/team.scss */
.team__content {
  width: 540px;
  background-color: rgba(47, 50, 52, 0.93);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 25, ../scss/section/team.scss */
.team-title {
  margin-top: 75px;
  margin-bottom: 75px;
}

/* line 31, ../scss/section/team.scss */
.team-item_active .team__trigger {
  color: #f9b43b;
}
/* line 35, ../scss/section/team.scss */
.team-item_active .team-member {
  height: 100%;
  overflow: visible;
}
/* line 40, ../scss/section/team.scss */
.team-item_active .team__trigger:before {
  transform: rotate(-180deg);
}

/* line 46, ../scss/section/team.scss */
.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 52, ../scss/section/team.scss */
.team__trigger {
  text-decoration: none;
  display: flex;
  padding: 0;
  position: relative;
}
/* line 58, ../scss/section/team.scss */
.team__trigger:before {
  content: "";
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #f9b43b;
  border-bottom-width: 0px;
  position: absolute;
  top: 4px;
  left: -21px;
}

/* line 71, ../scss/section/team.scss */
.team-member {
  display: flex;
  height: 0;
  overflow: hidden;
}

/* line 77, ../scss/section/team.scss */
.team-member__photo {
  overflow: hidden;
  max-width: 100px;
  flex: 1 1 30%;
  margin-right: 15px;
}

/* line 84, ../scss/section/team.scss */
.team-member__photo-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* line 90, ../scss/section/team.scss */
.team-member__data {
  flex: 1 1 70%;
}

/* line 95, ../scss/section/team.scss */
.team-member__position span {
  font-family: ubuntubold;
  font-size: 14px;
  color: #fff;
}

/* line 103, ../scss/section/team.scss */
.team-member__description p {
  font-family: ubuntulight;
  font-size: 14px;
  color: #fff;
  max-width: 230px;
  line-height: 1.71em;
}

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/layout/section.scss */
.section-title {
  font-size: 72px;
  font-family: gagalinregular;
  font-weight: 100;
  margin-bottom: 35px;
}
/* line 7, ../scss/layout/section.scss */
.section-title_color_yellow {
  color: #f9b43b;
}
/* line 11, ../scss/layout/section.scss */
.section-title_color_black {
  color: #2f3234;
}

/* line 16, ../scss/layout/section.scss */
.section__name {
  font-family: gagalinregular;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 10, ../scss/main.scss */
h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 14, ../scss/main.scss */
.container {
  width: 940px;
}
