/* line 1, ../scss/section/burger.scss */
.burger {
  background: url(../img/bg/burger-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  min-width: 940px;
}

/* line 11, ../scss/section/burger.scss */
.burger__header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 17, ../scss/section/burger.scss */
.burger__container {
  width: 940px;
}

/* line 21, ../scss/section/burger.scss */
.burger__nav {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
}

/* line 30, ../scss/section/burger.scss */
.burger__link {
  font-size: 13px;
  font-family: ubuntumedium;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

/* line 38, ../scss/section/burger.scss */
.burger__list {
  display: inline-block;
  position: relative;
}
/* line 42, ../scss/section/burger.scss */
.burger__list:after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 40%;
  margin-left: 15px;
}
/* line 53, ../scss/section/burger.scss */
.burger__list:last-child:after {
  content: '';
  width: 0;
  height: 0;
}

/* line 60, ../scss/section/burger.scss */
.burger__order {
  font-size: 13px;
  font-family: ubuntumedium;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #e45028;
  padding: 12px 16px;
  border-radius: 4px;
  max-height: 24%;
  margin-left: 15px;
}

/* line 73, ../scss/section/burger.scss */
.burger__content {
  display: flex;
  justify-content: space-around;
}

/* line 78, ../scss/section/burger.scss */
.burger__image {
  background: url(../img/pic/burger-picture.png) no-repeat;
  width: 451px;
  height: 420px;
}

/* line 84, ../scss/section/burger.scss */
.burger__text {
  max-width: 420px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* line 91, ../scss/section/burger.scss */
.burger__title {
  font-size: 72px;
  font-family: gagalinregular;
  color: #f9b43b;
  font-weight: 100;
  margin-bottom: 35px;
}

/* line 99, ../scss/section/burger.scss */
.burger__description {
  font-size: 65px;
  font-family: lifehackmedium;
  color: #ffffff;
  font-weight: 100;
  line-height: 60px;
}

/* line 107, ../scss/section/burger.scss */
.burger__arrow {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

/* line 113, ../scss/section/burger.scss */
.burger__arrow-link {
  background: url(../img/pic/arrow-scroll.png);
  width: 29px;
  height: 14px;
}

/* line 1, ../scss/section/logo.scss */
.logo {
  background: url(../img/logo/logo.png);
  width: 92px;
  height: 69px;
}

/* line 1, ../scss/section/nav.scss */
.nav {
  display: flex;
  align-items: center;
}

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 6, ../scss/main.scss */
h2, h3 {
  margin: 0;
}
