//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

//media
@import "_misc/media";

//setups
@import "_misc/fonts";
@import "_misc/section";
@import "_misc/layout";

//sections
@import "section/burger";
@import "section/nav";
@import "section/review";
@import "section/pagination";
@import "section/best";
@import "section/team";
@import "section/menu";
@import "section/map";
@import "section/footer";
@import "section/order";
@import "section/form";
@import "section/hamburger";
@import "section/slider";