.burger {
  background: url(../img/bg/burger-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  min-width: 940px;
}

.burger__header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.burger__content {
  display: flex;
  justify-content: space-around;
}

.burger__image {
  flex: 1;
  padding-right: 20px;
}

.burger__text {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.burger__description {
  font-size: 65px;
  font-family: lifehackmedium;
  color: #ffffff;
  font-weight: 100;
  line-height: 60px;
}

.burger__arrow {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.burger__arrow-link {
  background: url(../img/pic/arrow-scroll.png);
  width: 29px;
  height: 14px;
}

.burger__logo {
  width: 92px;
  height: 69px;
}