.modal {
  background: rgba(#2f3234, .99);
}

.modal__block {
  max-width: 470px;
  background: #ffffff;
  border-radius: 5px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__name {
  padding-top: 10px;
  margin: 10px;
  display: inline-block;
  color: #2f3234;
}

.modal__text {
  margin: 10px;
  color: #2f3234;
}

.modal__link {
  float: right;
  margin: 15px;
  display: inline-block;
}