.nav {
  display: flex;
  align-items: center;
}

.nav__order {
  font-size: rem(13px);
  font-family: ubuntumedium;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #e45028;
  padding: rem(12px) rem(16px);
  border-radius: rem(4px);
  max-height: 24%;
  margin-left: rem(15px);
}

.nav__item {
  display: inline-block;
  position:relative;

  &:after {
    content: '';
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: 40%;
    margin-left: rem(15px);
  }

  &:last-child:after {
    content: '';
    width: 0;
    height: 0;
  }
}

.nav-list {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: rem(520px);

  @include tablets() {
    display: none;
  }
}

.nav__link {
  font-size: rem(13px);
  font-family: ubuntumedium;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}