.order {
  background: url(../img/bg/order-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  display: flex;
  //align-items: center;
  justify-content: center;
}

.order__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-title {
  margin: 70px 0;
}

.order__form {
  display: flex;
}