.reviews {
  height: 100vh;
  min-height: 650px;
}

.reviews-list {
  list-style: none;
  height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reviews__item {
  background: no-repeat center/cover;
  flex: 1 0 25%;
  position: relative;
}

.reviews__description {
  position: absolute;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(20, 20, 20, 0.7);
  box-sizing: border-box;
  transition: all;
  padding: 10px;
}

.reviews__item:hover .reviews__description {
  opacity: 1;
  visibility: visible;
}

.section__name {
  font-family: gagalinregular;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 15%;
  margin-bottom: 15px;
}

.reviews__text {
  font-family: ubuntulight;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 15px;
}

.reviews__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: ubuntumedium;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #2f3234;
  padding: 13px 28px;
}

.reviews__link:hover {
  background-color: #1f2122;
}