.best {
  background: url(../img/bg/best-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: rem(600px);
  //min-width: rem(940px);

  @include phones {
    min-width: 320px;
  }
}

.best__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.best-list {
  list-style: none;
  display: flex;
  align-items: baseline;
  padding: 0;

  @include phones {
    flex-direction: column;
  }
}

.best__item{
  flex: 1;
  text-align: center;
  padding: 0 5px;

  @include phones {
    display: flex;
    text-align: left;
    margin-bottom: 40px;
  }
}

.best__title {
  color: #2f3234;
}

.best__subtitle {
  font-family: lifehackmedium;
  font-size: rem(24.1px);
  color: #2f3234;
  margin-top: rem(20px);
  margin-bottom: rem(29px);

  @include phones {
    margin-top: 0;
    margin-bottom: rem(10px);
  }
}

.best__description {
  font-family: ubuntulight;
  font-size: rem(14px);
  line-height: 1.7em;
  color: #2f3234;
  text-align: center;
}

.best__image-parent {
  min-width: rem(160px);
  text-align: center;
}