/* line 1, ../../scss/layout/section.scss */
.section-title {
  font-size: 72px;
  font-family: gagalinregular;
  font-weight: 100;
  margin-bottom: 35px;
}
/* line 7, ../../scss/layout/section.scss */
.section-title_color_yellow {
  color: #f9b43b;
}
