/* line 1, ../../scss/section/best.scss */
.best {
  background: url(../../img/bg/best-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  min-width: 940px;
}
